name: buildroot CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Build with Buildroot action
        uses: fwilhe2/buildroot-build/.github/actions/buildroot-build@main
        id: build-root
        with:
          config: configs/my_custom_defconfig
          buildroot_ref: "2025.11"
          jobs: auto
          upload_artifacts: true
          artifact_name: "myboard-buildroot-images"
