name: buildroot CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Build with Buildroot action
        uses: fwilhe2/buildroot-build/.github/actions/buildroot-build@main
        id: build-root
        with:
          config: configs/my_custom_defconfig
          buildroot_ref: "2025.11"
          jobs: auto
          upload_artifacts: true
          artifact_name: "myboard-buildroot-images"

      # If you prefer to access images directly in later steps instead of artifacts,
      # you can read the action output path:
      - name: Use images path
        run: |
          echo "Images path: ${{ steps.build-root.outputs.images_path }}"

      - name: 'Tar files'
        run: tar -cvf my_files.tar .

      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: my-artifact
          path: my_files.tar
